 th{
    color:#1a57c7;
    font-weight:bold;
  }
  
table.bodd{
  border: 0px ridge rgb(157, 182, 228);
  background-color: rgb(252, 252, 252);
}
  div.table-responsive{
    background-color:white;
    margin-left:5%;
    margin-right:5%;
    border-collapse:collapse;
  }

  .table-responsive {
    margin-bottom: 0;
    overflow: visible;
  }
  
  .usertable>tbody>tr>td,.usertable>thead>tr>th{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right:0.2rem;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
  }
  .usertable>thead>tr>th{
    padding-left:2rem;
  }
  .usertable>tbody>tr>td {
    vertical-align: center;
  }
.dob{
  padding-left: 2.8rem;
}
.age{
    padding-left: 2.5rem;
  }
  #tabhed>th {
    vertical-align: middle;
    border-bottom: 0;
    font-size:medium;
  }
  

  .headd{
    font-family: 'Open Sans', sans-serif;
  }

a{
    float:right;
    margin-left:60%;
    background:#6666ff;
    color:white;
    font-weight:bolder;
    padding: 10px 5px 10px 5px;
  }
  
h2{
    float:left;
    margin-left:05%;
  }
  
div#mainhd{
    background-color:white;
    width:100%;
  }

#wrapper{
    display:flex;
    align-items:center;
    height:8em;
    margin-bottom:30px;
  }