

<div id="mainhd">
    <div id="wrapper" class="container clearfix">
        <h2 class="text-nowrap headd"><strong>Patient Directory</strong></h2>
       <a routerLink="/form" id="addButton">Add New Patient</a> 
    </div>
  </div>




<div class="row">
    <div class="col-md-6 offset-md-3">
        <input style="width:92.5%; height:44px; padding-left:15px ;float:left" type ="text"  [(ngModel)]="searchText" placeholder="Search"><button type="button" style="font-size:22px; width:7%;float:left;height:44px;border-radius:0px" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
    <div class="col-md-9 offset-md-1" style ="padding-top:30px;">

<div class="container">
  <div class="table-responsive">
      <table  class="table usertable bodd" id="userTable">
          <thead>
          <tr id="tabhed">
              <th>Name of the Patient</th>
              <th>Date of Birth</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Contact No</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of Users | filter:searchText">
                <td style="padding-left:3.3rem;">{{ user.fname + " " + user.lname}}</td>
                <td class="dob">{{ user.dob }}</td>
                <td class="age">{{ user.age }}</td>
                <td style="padding-left:3.3rem;">{{ user.gender | uppercase}}</td>
                <td class="dob">{{ user.pno }}</td>
            </tr>
          </tbody>
      </table>
  </div>
</div>
</div>
</div>